* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.container-large {
    width: 1000px;
    margin: 0 auto;
}
.container-small {
    width: 800px;
    margin: 0 auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
.fl {
    float: left;
}
.fl-r {
    float: right;
}

.gutter-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.gutter-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.button a {
    display: inline-block;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
}
.button.blue a {
    background-color: #1f63ff;
    color: #fff;
    font-weight: normal; /* ??? */
}

.bold {
    font-weight: 700;
}

.centered { /* bisogna dare position relative al padre*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pos-rel {
    position: relative;
}

h2 {
    font-size: 30px;
    margin: 50px 0;
    font-weight: bold;    
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.short-hr {
    width: 30px;
    margin: 30px 0;
    color: #ccc;
}

/* ======================== */

header {
    background-color: #add1ea;
    margin-bottom: 150px;
}

/* nav-bar */
nav {
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border: 1px solid #eee;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav .logo-container {
    width: 80%;    /* cazz */
}
nav .logo-container img {   /* height da sistemare */
    vertical-align: middle;
    padding-bottom: 5px;
    width: 100%;;
}
nav .button a{
    padding: 0 15px;
}

/* jumbotron */
.jumbotron h1 {
    font-size: 60px;
    font-weight: bold;
    padding: 50px 0 20px;
}

.jumbotron .text-container {
    width: calc(40% - 30px);
    margin-right: 30px;
}
.jumbotron .text-container p {
   margin-bottom: 20px;
}
.jumbotron .text-container .button {
   margin-bottom: 10px;
}
.jumbotron .text-container .button a {
    padding: 0 15px;
}

.jumbotron .text-container .icon i {
    font-size: 40px;
    font-weight: 900;
    color: black;
}

.jumbotron .img-container {
    width: 60%;
}
.jumbotron .img-container img {
    width: 100%;
    height: 100%;
    margin-bottom: -10%;
}


.pricing .radio-container {
    display: inline-block;
    margin: 20px 20px 20px 0;
}

/* pricing columns */
.pricing .column.small {
    height: 800px; /* arbitraria*/
}

.pricing .column {
    margin-bottom: 60px;  /* se lo tolgo si rompe */
}

.pricing .column > * {
    border: 1px solid #ccc;
    padding: 20px 20px;
}

.pricing .column.small {
    width: calc(100% / 3 - 20px);
}
#col2 {
    margin-left: 30px; /* gutter */
    margin-right: 30px; /* gutter */
}

.pricing .col-body {
    height: 100%;
}
.pricing .col-head {
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
}

.pricing .monthly {
    color: #aaa;
    margin: 10px 0 30px;
}

/* 2 classi valide per entrambi gli ul di pricing */
.pricing ul {
    list-style: none;
}
.pricing ul li {
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
}

/* icone grandi un po porkaround*/
#col1 .col-head::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007   ";
    font-weight: 500;
}
#col2 .col-head::before, #col3 .col-head::before, .column.large .col-head::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1ad   ";
    font-weight: 500;
}
.column.large .col-head::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007   ";
    font-weight: 500;
}

/* icone piccole */
.user::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 500;
    position: absolute;
    left: 2px;
    top: 2px;
}
.folder::before {
    font-family: "Font Awesome 5 Free";
    content: "\f07b";
    font-weight: 500;
    position: absolute;
    left: 2px;
    top: 2px;
}
.pencil::before {
    font-family: "Font Awesome 5 Free";
    content: "\f303";
    font-weight: 900;
    position: absolute;
    left: 2px;
    top: 2px;
}
.user-plus::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 500;
    position: absolute;
    left: 2px;
    top: 2px;
}
.smile::before {
    font-family: "Font Awesome 5 Free";
    content: "\f118";
    font-weight: 500;
    position: absolute;
    left: 2px;
    top: 2px;
}
.check::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: #1f63ff;
    position: absolute;
    left: 2px;
    top: 2px;
}


.pricing .column.small .button.blue {
    width: 100%;
    margin: 30px 0 20px;
}
.pricing .button.blue a {
    width: 100%;
}

.pricing h4 {
    font-weight: 800;
}

.column.large {
    margin: 20px 0 50px;
}

.column.large .text-container{
    width: 70%;
}
.column.large .button{
    width: 30%;
}


/* partner finder */

.partner-finder .img-container {
    width: 50%;
}
.partner-finder .img-container img {
    width: 100%;
}

.partner-finder .text-container {
    width: 50%;
    padding: 30px 60px;
}
.partner-finder .text-container p {
    margin: 20px 0;
    font-weight: 600;
}

.partner-finder .button.white a {
    border: 1px solid black;
    display: inline-block;
    padding: 0 15px;
}

.partners-title {
    margin: 50px auto;
}

/* operations */

.operations .item-operations {
    width: calc(100% / 3 - 20px);
    margin-top: 30px;
    margin-bottom: 30px;
}
/* .item-operations::nth-of-type(2), 
.item-operations::nth-of-type(5) {
    margin: 0 30px;
}   non ho funzionato, risolto con classe gutter-30 */

.item-operations .img-container {
    width: 100%;
}
.item-operations .img-container img {
    width: 100%;
}


/* partners */

.partners-title h2 {
    margin-bottom: 30px;
}

.partners-title a {
    color: #1f63ff;
    margin: 30px 0;
}


.partners-main {
    background-color: #add1ea;
}

/* partners' logos strip */

.strip {
    height: 360px;
}

.strip .center {
    width: 40%;
    height: 360px;
    background-color: whitesmoke;
    padding: 0 40px;

    /* position: relative; */
}

.strip .center .logo-container {
    width: 20%;
    /* position: absolute;
    top: 0; */
}
.strip .center .logo-container svg {
    width: 100%;
}

.strip .center .short-hr {
    margin: 10px 0 30px;
}

/* .strip .center p:not(.bold) {
    margin-top: 10px;
} ?????? provato anche con first-child*/

.strip .side {
    width: 30%;
    height: 100%;
}
.strip .side .logo-container {
    width: 50%;
    height: 180px;
    position: relative;
}

.strip .side .logo-container svg {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.strip .side.left .logo-container:nth-child(1) {
    background-color: #94d595;
    border: 10px solid #a0e5a2;
}
.strip .side.left .logo-container:nth-child(2) {
    background-color: #6b012b;
}
.strip .side.left .logo-container:nth-child(3) {
    background-color: #3096d3;
}
.strip .side.left .logo-container:nth-child(4) {
    background-color: #f40102;
}

.strip .side.right .logo-container:nth-child(1) {
    background-color: #f40102;
}
.strip .side.right .logo-container:nth-child(2) {
    background-color: #add1ea;
}
.strip .side.right .logo-container:nth-child(3) {
    background-color: #072486;
}
.strip .side.right .logo-container:nth-child(4) {
    background-color: #fbd600;
}

.new-business {
    height: 300px;
    padding: 100px 0;
}

.new-business .text-container {
    width: 50%;
    height:100%;
}
.new-business .text-container h2 {
    margin: 0;
}

.new-business .button-container {
    width: 50%;
    margin: 10px 0;
}

.new-business .button {

}
.new-business .button a {
    background-color: #fff;
    padding: 0 30px;
}


.faq {
    margin: 100px auto 440px;
}
.faq > * {
    border-bottom: 1px solid #ccc;
}

.faq h3 {
    margin: 0;
    padding: 40px 0;
}
.faq p {
    padding: 20px 0;
    position: relative;
}
.faq p::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 900;
    position: absolute;
    right: 20px;
}


/* footer */
.main-container {
    background-color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    width: 100%;

    height: 390px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -100;
} 

footer .container-large {
    padding: 50px 0;
}

footer h3 {
    font-size: 16px;
    margin: 20px 0;
}
footer p {
    font-size: 10px;
    margin: 5px 0;
}

footer .column {
    width: calc(100% / 5);
}

footer .short-hr {
    width: 80px;
    margin-top: 70px;
    margin-bottom: 30px;
}

footer .language {
    font-size: 10px;
    color: #999;
    position: relative;
}

footer .language::after {
    content: "";
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #999;
    position: absolute;
    right: -7px;
    top: 6px;
}

footer .language::before {
    font-family: "Font Awesome 5 Free";
    content: "\f57d";
    font-weight: 900;
}